extends ./template.jade

block page-content
	h1(class="page-title") Writing Samples
	
	div(id="writing-filters-div")
		include ./writing-filters.jade
		
	div(id="documents-content")
		include ./uploads.jade
		
block scripts
	script.
		$(document).ready(function() {
			$("#documents-link").addClass("active");
		
		});