head
	title=titleString
	
	//css
	link(href="style.css" type="text/css" rel="stylesheet")
	
	//include jquery
	script(src='http://code.jquery.com/jquery-1.11.1.js')
	
	//- conditional browser thing
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]]-->