div(id="header-div")
			
	div(id="header-right")
		if(view == 'student' || view == 'admin')
			div(id="actions-div")
				label(id="profile-label")="Hello, " + greetingName
				a(id="profile-button" class="button-link small-button" href="/Account") Account
				a(id="logout-button" class="button-link small-button" href="/logout") Log Out

		else if(view == 'guest')
			div(id="actions-div")
				label(id="profile-label") Hello, Guest
				
				a(id="logout-button" class="button-link small-button" href="/logout") Sign In
				
				form(id="signup-button-form" class="button-form" method="POST" action="/signup-form")
					input(id="create-button" class="button-input small-button" type="submit" value="Sign Up")


	header(id="page-header")
		ul(id="header-links")
			li(class="header-elements")
				a(id="home-link" href="/") Home
			li(class="header-elements")
				a(id="documents-link" href="/Documents") Writing	
			li(class="header-elements")
				a(id="books-link" href="/Books") Books
			li(class="header-elements")
				a(id="courselinks-link" href="/CourseLinks") Links
