doctype html
html
	head
		title= titleString
		
		link(href="style.css" type="text/css" rel="stylesheet")
		
		//include jquery
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		
		//include hash function
		script(type="text/javascript" src="http://cryptojs.altervista.org/api/functions_cryptography.js")
			
		//- conditional browser thing
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]]-->
		
	body
		div(id="content")
			div(id="login-div")
				form(id="login-form" action="/login" method="POST")
					input(id="username-input" type="text" name="username" size="30" placeholder="Username")
					input(id="password-input" type="password" name="password" size="30" placeholder="Password")
					
					br
					input(id="log-in-button" class="button-input" type="submit" value="Sign In")
				
				form(id="signup-button-form" class="button-form" method="POST" action="/signup-form")
					input(id="create-button" class="button-input" type="submit" value="Sign Up")
				
				p(id="status" class="status-message")=statusString
				br
				
				p Not a student? Continue as 
					a(href="/guest") Guest
			

		script.
			/*
			$(document).ready(function() {
				//allows clicking enter to simulate clicking "Log In"
				$("input").keydown(function(event) {
					if(event.keyCode == 13) {
						$("#login-form").submit();
					}
				});
				
				$("#login-form").submit(function(e) {
					var hash = new Crypt();
					var password = $("#password-input").val();
					var hashedPass = hash.HASH.md5(password);
				
					$("#password-input").val(hashedPass);
					
				});
			
				
				$("#log-in-button").click(function() {
					
					var userIn = $("#username-input").val();
					var passIn = $("#password-input").val();
					//var hash = new Crypt();
					//var hashedPass = hash.HASH.md5(passIn);
					
					if(userIn && passIn) {
						$.ajax({
							url: "/login",
							type: "POST",
							dataType: "html",
							
							data: {
								usernameData: userIn,
								passwordData: passIn
								//passwordData: hashedPass
							},
							
							success: function(data) {
								//implement this including status changes
							}
						})
					}
					
					else {
						$("#status").html("Please enter both a username and password");
					}
				});
			}); //end document.ready
			*/
			
			
			
			