div(id="document-filters-div")
	form(id="document-filters-form")
		fieldset
			legend Search
			
			label(class="filters-label")
				strong Name
			input(id="doc-filters-first" name="first-name" type="text" size="30" placeholder="First Name")
			input(id="doc-filters-last" name="last-name" type="text" size="30" placeholder="Last Name")
			
			br
			label(class="filters-label")
				strong Assignment
			input(id="doc-filters-assign" name="assignment-name" type="text" size="30" placeholder="Assignment")
			
			br
			label(class="filters-label")
				strong Teacher
			input(id="doc-filters-assign" name="teacher" type="text" size="30" placeholder="Assignment")
			
			br
			label(class="filters-label")
				strong Hour
			select(id="score-filter" name="hour")
					option(value="") -
					option(value="1") 1
					option(value="2") 2
					option(value="3") 3
					option(value="4") 4
					option(value="5") 5
					option(value="6") 6
					option(value="7") 7
					option(value="8") 8
			
			br
			input(id="doc-filters-submit" class="input-button search-button" type="submit" value="Search")
		
	script.
		$(document).ready(function() {
		
			//-add form submit as ajax call
			$("#document-filters-form").submit(function(e) {
				e.preventDefault();
			
				var inputs = $("#document-filters-form :input");
				
				$.ajax({
					url: "/Documents/filter",
					type: "POST",
					dataType: "html",
					
					data: inputs,
					
					success: function(data) {
						$("#documents-content").html(data);
					}
				
				});
			});
		
		}); //end document.ready